.box {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  outline: 0;
  border: 1px solid #dbdada;
  border-radius: 100px;
  caret-color: inherit;
  transition: color 0.3s ease, border 0.3s ease;
  padding: 21px 40px;
  margin: 0;
}

.input:focus {
  border: 1px solid #000000;
}

.input::-moz-placeholder {
  color: #7a7a7a;
}

.input::placeholder {
  color: #7a7a7a;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
}

.checkbox {
  position: relative;
}

.checkbox._form-error .checkbox__label {
  border-color: #e60795;
  background-color: rgba(230, 7, 148, 0.2);
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.checkbox__label {
  cursor: pointer;
  border-radius: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  border: 1px solid #000;
  font-weight: 300;
  font-size: clamp(14px, 1.3888888889vw, 20px);
  padding: 7px 18px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 13px;
  margin-bottom: 50px;
}

.form__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 26px;
}

.form__item._form-error {
  color: #e60795;
}

.form__item._form-error .input {
  color: #e60795;
  border-color: #e60795;
}

.form__item.item-textarea {
  grid-column: span 2;
}

.form__item.item-acceptance {
  grid-column: span 2;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #7a7a7a;
  display: flex;
  gap: 14px;
  align-items: start;
}

.form__item.item-textarea .input {
  padding: 32px 40px;
  border-radius: 25px;
}

.form__button {
  margin-top: 50px;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s ease 0.8s;
  pointer-events: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup.popup_show {
  overflow: auto;
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0s;
}

.popup__wrapper {
  display: flex;
  justify-content: flex-end;
  min-height: 100%;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.45);
}

.popup__content {
  position: relative;
  color: #1a1a1a;
  background-color: #f3f3f4;
  width: 100%;
  transition: -webkit-clip-path 0.8s ease;
  transition: clip-path 0.8s ease;
  transition: clip-path 0.8s ease, -webkit-clip-path 0.8s ease;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  max-width: 759px;
  padding: 97px 48px 37px;
  position: relative;
}

.popup-show .popup__content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.popup__body {
  position: relative;
}

.popup__body .form {
  opacity: 0;
  transform: translateY(5%);
  transition: transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s,
  opacity 0.8s ease 0.5s;
}

.popup-show .popup__body .form {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -120%);
  opacity: 0;
  transition: opacity 0.8s ease 0.5s;
  background: none;
  border: none;
  padding: 0;
}

.popup-show .popup__close {
  opacity: 1;
  transition-delay: 0.6s;
}

.popup__title {
  font-weight: 700;
  line-height: 1;
  font-size: clamp(25px, 2.7777777778vw, 40px);
}

.popup__txt {
  color: #6c6c6c;
  font-size: clamp(16px, 1.25vw, 18px);
}

.popup__head {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 50px;
}

/* phone input */
.input[type="tel"] {
  overflow: hidden;
  height: 100%;
}

.iti {
  width: 100%;
  height: 100%;
}

.iti__country-container {
  padding: 5px !important;
}

.iti__selected-country {
  background: #f5f5f5 !important;
  margin: 0px;
  border-radius: 100px 0 0 100px !important;
  justify-content: center;
  padding-right: 5px !important;
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .popup__content {
    padding: 6.7361111111vw 3.3333333333vw 2.5694444444vw;
  }
  .popup__head {
    gap: 1.25vw;
    margin-bottom: 3.4722222222vw;
  }
  .form__checkbox {
    gap: 0.8333333333vw 0.9027777778vw;
    margin-bottom: 3.4722222222vw;
  }
  .checkbox__label {
    padding: 0.4861111111vw 1.25vw;
  }
  .form__item.item-textarea .input {
    padding: 2.2222222222vw 2.7777777778vw;
  }
  .form__items {
    gap: 2.2222222222vw 1.8055555556vw;
  }
  .form__button {
    margin-top: 3.4722222222vw;
  }
}
@media (max-width: 480px) {
  .popup__wrapper {
    padding: 109px 20px 40px;
    background-color: #ffffff;
  }
  .popup__close {
    top: 0px;
    right: 14px;
    height: 40px;
    width: 40px;
    transform: translate(0, 0%);
  }
  .popup__head {
    gap: 13px;
    margin-top: 31px;
  }
  .form__checkbox {
    gap: 11px 7px;
    margin-bottom: 21px;
  }
  .checkbox__label {
    padding: 6px 15px;
  }
  .popup__content {
    border-radius: 16px;
    padding: 51px 11px 50px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .form__item.item-textarea .input {
    padding: 1.7361111111vw 1.25vw;
  }
  .form__items {
    gap: 20px;
    grid-template-columns: 100%;
  }
  .form__button {
    margin-top: 32px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__item.item-textarea {
    grid-column: inherit;
  }
  .form__item.item-acceptance {
    grid-column: inherit;
  }
  .input {
    padding: 16px 17px 16px;
    border-radius: 59px;
  }
  .form__item.item-textarea .input {
    border-radius: 16px;
    padding: 25px 18px;
    height: 145px;
  }
  .form__item.item-acceptance {
    grid-column: inherit;
    font-size: 12px;
    gap: 10px;
  }
  .input[type="tel"] {
    padding: 16px 0 16px;
    border-radius: 59px;
  }
}

.faq__scroll-content h2 {
  font-size: 20px;
  font-weight: 700;
}
.faq__scroll-content li,
.faq__scroll-content a {
  color: rgb(142, 142, 142);
}

.facebook .targeting__social-icon img {
  max-width: 64%;
  height: auto;
}
.tiktok .targeting__social-icon img {
  max-width: 88%;
  height: auto;
}
.maps .targeting__social-icon {
  background-color: #d7d9db;
}
.maps .targeting__social-icon img {
  max-width: 40%;
  height: auto;
}

.linkedin.youtube .targeting__social-icon {
  background-color: #D71B1B;
}
.targeting__social-icon img {
  max-width: 56%;
  height: auto;
}

.targetvalues__about {
  font-size: clamp(15px, 1.3194444444vw, 19px);
  line-height: 130%;
  color: #929292;
  margin-top: 32px;
  padding-bottom: 60px;
  padding-left: 87px;
  padding-right: 60px;
}
.targetvalues__about ul {
  padding-left: 50px;
  padding-bottom: 32px;
}
.targetvalues__about p {
  color: #929292;
  margin-bottom: 32px;
}
.targetvalues__about ul li {
  color: #fff;
  padding-left: 5px;
}
.targetvalues__about ul li::marker {
  color: #2174f5;
  content: "✓";
}
.targetvalues__about ul li:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1320px) {
  .targetvalues__about {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 992px) {
  .targetvalues__about {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 0px;
  }
  .targetvalues__about ul {
    padding-left: 10px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 49px;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;

  a {
    color: #000000;

    &:hover {
      text-decoration: none;
    }
  }

  &.marked {
    margin: 20px 0;
    padding: 0 0 0 15px;

    li {
      font-size: 19px;
      margin-bottom: 16px;
      padding-left: 8px;
      line-height: 1.25;

      &::marker {
        color: rgb(33, 116, 245);
        content: "✓";
      }
    }
  }
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  counter-reset: list-counter;

  li {
    position: relative;
    padding-left: 35px;
    counter-increment: list-counter;
    margin-bottom: 20px;
    font-size: 19px;

    &:before {
      content: counter(list-counter);
      display: flex;
      position: absolute;
      left: 0;
      top: -3px;
      align-items: center;
      border-radius: 20px;
      justify-content: center;
      color: #ffffff;
      font-size: 17px;
      padding-right: 1px;
      width: 26px;
      height: 26px;
      text-align: center;
      line-height: 1;
      background-color: #000000;
    }
  }
}

.blog-page {
  .breadcrumbs {
    position: static;
  }
}

.article-page {

}

.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #F3F3F4;
}

.bg-green {
  background-color: #E8F99B;
}

@keyframes top-orbit {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes mid-orbit {
  0% {
    transform: rotateZ(35deg);
  }

  100% {
    transform: rotateZ(395deg);
  }
}

@keyframes bot-orbit {
  0% {
    transform: rotateZ(15deg);
  }

  100% {
    transform: rotateZ(375deg);
  }
}

.header {
  &__inner {
    width: 100%;
  }
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F3F3F4;
  padding: 10px 19px;
  border-radius: 12px;

  &__button {
    width: 24px;
    height: 24px;
    color: #000000;
    border: none;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg, use {
      width: 100%;
      height: 100%;
    }
  }

  input {
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #0F0F0F;

    &::placeholder {
      color: #0F0F0F;
    }
  }
}

.page {
  &__content {
    padding-right: 43px;
    flex-grow: 1;
    width: calc(100% - 271px);
  }

  &__inner {
    display: flex;
    margin-top: 32px;
  }
}

.arrow-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  color: #000000;
  transition: all 120ms;

  &:hover {
    opacity: 0.7;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}

.select-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    list-style-type: none;
    margin: 15px 25px 0 0;
  }

  a {
    padding: 10px 22px;
    line-height: 1;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    display: block;
    border-radius: 20px;
    font-size: 20px;
    white-space: nowrap;
    transition: all 150ms;

    &:hover {
      background-color: #1C1616;
      border-color: #1C1616;
      color: #ffffff;
    }
  }
}

.orbits {
  position: absolute;
  min-width: 890px;
  min-height: 890px;
  top: 0;
  right: -180px;
  max-width: 890px;
  max-height: 890px;
  width: 890px;
  height: 890px;
  pointer-events: none;

  .orbits-wrap {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .orbit-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #00000021;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;

    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      top: -9px;
      width: 19px;
      height: 19px;
      background-color: #2174F5;
      z-index: 1;
    }
  }

  .orbit-outer {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__top {
      width: 100%;
      height: 100%;

      .orbit-inner {
        animation-duration: 15000ms;
        animation-name: top-orbit;
      }
    }

    &__mid {
      width: 75%;
      height: 75%;

      .orbit-inner {
        animation-duration: 12000ms;
        animation-name: mid-orbit;
        animation-direction: reverse;

        &:after {
          background-color: #000000;
        }
      }
    }

    &__bot {
      width: 55%;
      height: 55%;

      .orbit-inner {
        animation-duration: 10000ms;
        animation-name: bot-orbit;

        &:after {
          width: 10px;
          height: 10px;
          top: -5px;
          background-color: #000000;
        }
      }
    }
  }
}

.banner {
  margin-top: 43px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;

  h1 {
    line-height: 1.2;
  }

  &__image {
    max-width: 628px;
    z-index: 1;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .subtitle {
    font-size: 24px;
    color: #2174F5;
    margin-top: 32px;
  }

  &__main {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 20px;
  }

  &__wrap {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    min-height: 465px;
    position: relative;
  }

  &__inner {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-left: 30px;
    padding-right: 30px;
  }

  &__right {
    max-width: 840px;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &--article {
    //h1 {
    //  font-size: 40px;
    //}

    .orbits {
      right: -260px;
    }

    .banner {
      &__main {
        max-width: 752px;
        padding-right: 20px;

        .subtitle {
          color: #6B706A;
        }

        .author {
          margin-top: 32px;
        }
      }

      &__image {
        max-width: 367px;
        max-height: 253px;

        img {
          border: 1px solid #000000;
          border-radius: 16px;
        }

        &:after {
          content: '';
          display: block;
          width: 131px;
          height: 131px;
          position: absolute;
          left: 94%;
          bottom: 88%;
          background-image: url("../images/icons/star.svg");
          background-repeat: no-repeat;
          background-position: center;
          z-index: 1;
          background-size: 100%;
        }
      }

      &__right {
        align-items: center;
      }
    }
  }
}

.blog-tags {
  &__title {
    color: #6C6C6C;
  }
}

.blog-articles {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  margin-bottom: 25px;
}

.blog-article {
  border-radius: 16px;
  padding: 30px 127px 30px 30px;
  position: relative;
  border: 1px solid #F3F3F4;
  transition: all 120ms;

  &:hover {
    border-color: #000000;
  }

  .arrow-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  &__tags {
    margin-top: 6px;

    .select-list {
      li {
        margin-right: 18px;
      }

      a {
        color: #5A5A5A;
        font-size: 14px;
        border-color: #E8E8E8;
        background-color: #ffffff;
        padding: 9px 12px 7px;

        &:hover {
          color: #000000;
          border-color: #000000;
        }
      }
    }
  }

  &__title {
    margin-top: 11px;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: all 120ms;
    display: inline-block;

    &:hover {
      opacity: 0.7;
    }
  }

  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 16px;
    color: #707070;
  }

  &__content {
    padding-left: 59px;
  }

  &__image {
    min-width: 299px;
    min-height: 211px;
    border-radius: 7px;
    overflow: hidden;
    height: 211px;
    width: 299px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
  }

  &.mobile {
    padding: 18px 18px 80px 18px;
    border-radius: 10px;

    .author {
      display: none;
    }

    .arrow-button {
      bottom: 18px;
      right: 18px;
    }

    .blog-article {
      &__title {
        font-size: 16px;
      }

      &__desc {
        display: none;
      }

      &__image {
        min-width: unset;
        width: 100%;
        max-height: 240px;
        height: 240px;
        min-height: unset;
      }

      &__content {
        padding: 0;
        margin-top: 0;
      }


      &__inner {
        flex-direction: column;
      }

      &__tags {
        .select-list {
          a {
            font-size: 11px;
            padding: 7px 9px 6px;
          }

          li {
            margin-right: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.views {
  display: flex;
  align-items: center;

  &__image {
    width: 33px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
  }
}

.author {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &__secondary {
    margin-left: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .views {
      margin-right: 35px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__title {
    flex-shrink: 0;
  }

  &__info {
    padding-left: 16px;
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
  }

  &__date {
    font-size: 14px;
    color: #797987;
    line-height: 1;
    margin-top: 7px;
  }

  &__image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.aside-section {
  width: 271px;
}

.accordions {
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 5px;
}

.accordion {
  border-radius: 12px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    color: #0A0A0A;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__button {
    background-color: transparent;
    border: none;
    width: 22px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    transition: all 150ms;
    z-index: 1;
    display: flex;

    svg {
      width: 100%;
      height: 100%;
    }

    &.active {
      transform: rotateZ(180deg);
    }
  }

  &__info {
    overflow: hidden;
    height: 0;
    transition: all 150ms;
  }

  &__header {
    position: relative;

    h3 {
      margin: 0;
      font-size: 30px;
      cursor: pointer;
    }
  }

  &__inner {
    padding: 20px 0 0 0;
  }
}

.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: #6C6C6C;
    transition: all 120ms;

    &:hover {
      color: #000000;
    }
  }
}

.article-last {
  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  .author {
    &__title {
      margin-top: 15px;
    }

    &__name {
      color: #707070;
      margin-bottom: 7px;
    }

    &__date {
      color: #797987;
    }
  }
}

.article-popular {
  &__title {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
  }

  &__image {
    border-radius: 6px;
    overflow: hidden;
    width: 176px;
    height: 124px;
    flex-shrink: 0;
  }
}

.pager {
  display: flex;
  justify-content: center;
  margin: 70px 0;

  .nav-links {
    display: flex;
    align-items: center;
  }

  a, span {
    color: #000000;
    font-size: 21px;
    text-decoration: none;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }

  span {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;

    &.dots {
      background-color: transparent;
      color: #000000;
      font-size: 26px;
    }
  }

  a {
    transition: all 120ms;

    &:hover {
      opacity: 0.7;
    }

    &.prev,
    &.next {
      width: 44px;
      height: 44px;
      display: flex;
      font-size: 0;
      background-image: url("../images/icons/chevron.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
    }

    &.prev {
      transform: rotateZ(90deg);
    }

    &.next {
      transform: rotateZ(-90deg);
    }
  }
}

.article-list {
  background-color: #F3F3F4;
  padding: 29px 75px;
  border-radius: 16px;
}

.article {
  &__content {
    display: flex;
    width: 100%;
  }

  &__main {
    flex-grow: 1;
    width: calc(100% - 85px);
    padding-left: 20px;
  }
}

.article-content {
  margin-top: 90px;
  line-height: 1.25;

  &__block {
    margin-top: 35px;
  }

  &__subtitle {
    font-size: 32px;
    color: #0A0A0A;
    font-weight: 700;
  }

  &__slider {
    margin-top: 90px;
    margin-bottom: 80px;
  }

  &__sub {
    margin-top: 30px;
    font-size: 19px;
    color: #929292;
    line-height: 1.5;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    color: #0A0A0A;
  }
}

.article-slider {
  width: 100%;

  .swiper-button-prev,
  .swiper-button-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/icons/arrow-left.svg");

    &:after {
      display: none;
    }
  }

  .swiper-button-next {
    transform: rotateZ(180deg);
  }

  .swiper {
    width: 100%;
    padding: 0 90px;
  }
}

.article-grades {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 19px;
  }
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 -8px;

  &__item {
    color: #D9D9D9;
    display: flex;
    width: 46px;
    height: 30px;
    padding: 0 8px;
    text-decoration: none;
    box-sizing: border-box;

    &:hover {
      color: gold;

      & ~ .stars__item {
        color: gold;
      }
    }

    &.active {
      color: gold;

      & ~ .stars__item {
        color: gold;
      }
    }
  }
}

.article-comment {
  .comment-form {
    margin-top: 40px;
    background-color: #F9F9F9;
    border-radius: 16px;
    box-shadow: 0px 4px 11px 0px #0000001A;
    padding: 50px 59px;

    .item-acceptance {
      .wpcf7-list-item {
        display: inline-block;
        margin: 0 0 0 1em;

        input {
          margin-right: 4px;
        }
      }
    }

    &__title {
      font-size: 35px;
      font-weight: 700;
    }

    &__sub-title {
      font-size: 17px;
      color: #6C6C6C;
      margin-top: 16px;
      line-height: 1.25;
    }

    form {
      margin-top: 25px;
    }
  }


  .form__row {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 26px;

    button {
      margin: 0;
    }

    & > * {
      flex-grow: 1;
    }
  }
}

.thematic {
  margin-top: 90px;
  margin-bottom: 90px;

  &__slider {
    margin-top: 90px;

    .swiper-pagination {
      margin-top: 50px;
      position: relative;
      height: 18px;

      &-bullet {
        width: 18px;
        height: 18px;
        background-color: #b6b6b8;
        opacity: 1;
        margin: 0 15px !important;
      }
    }

    .swiper-pagination-bullet-active-main {
      background-color: #000000;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.article-share {
  display: flex;
  flex-direction: column;

  .article__share & {
    align-items: flex-start;
  }

  &__title {
    color: #929292;
    margin-bottom: 5px;
  }

  .footer__social {
    margin-top: 5px;

    .article__share & {
     flex-direction: column;
    }
  }

  .footer__social-link {
    color: #B2B2B7;
    background-color: #F3F3F4;
    border-color: transparent;

    &:hover {
      color: #2174f5;
    }

    .article__share & {
      margin-top: 15px;
    }

    &:not(:first-child) {
      margin-left: 14px;

      .article__share & {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}